*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
h2, h6, p{
  padding: 0;
  margin: 0 !important;
}
.primary i, .goal i, .team i{
  font-size: 24px;
  vertical-align: middle;
}
.goal, .scope, .team, .primary, .time-line{
  background-color:azure;
}
h2{
  font-weight: 600 !important;
}
h2{
  border-bottom: solid 1px;
}
.circle{
  border-radius: 50%;
  background-color: rgba(179, 87, 204, 0.966);
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  width: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* MAIN */
/* Goal */
.goal-item{
  border-bottom: solid 0.5px #999;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.goal-text h6{
  margin-bottom: 5px;
  font-weight: bold;
}
/* Scope */
.scope .content p{
  margin-top: 10px !important;
}
.scope-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Time line */
.time-line{
  height: 100%;
 }
.time-line-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time-line-item-number{
  text-align: center;
  position: relative;
}
/* Team */
.team-text h6{
  margin-bottom: 5px;
  font-weight: bold;
}
.team-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
 /* Primary  */
.primary .content p{
   margin-top: 10px !important;
 }
.primary-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h4{
  margin-bottom: 5px;
  font-weight: 600 !important;
}
/* LAYOUT */
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.goal{
  grid-column: 1/ span 2;
  grid-row: 1/2;
}
.scope{
  grid-column: 1/ span 2;
  grid-row: 2/3;
}
.team{
  grid-column: 3/ 4;
  grid-row: 1/2;
}
.primary{
  grid-column: 3/4;
  grid-row: 2/3;
}
.time-line{
  grid-column: 4/5;
  grid-row: 1/ span 2;
}
/* OTHERS */
.hidden{
  display: none;
}
/* MOBILE + TABLET */
@media (max-width:992px) {
  body{
    background-color: antiquewhite !important;
  }
  .main{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .goal, .scope, .team, .primary, .time-line{
    height: fit-content;
  }
  .goal{
    grid-column: 1/ 2;
    grid-row: 1/2;
  }
  .scope{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .team{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .primary{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .time-line{
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .goal-item{
    flex-direction: column;  
  }
  .scope-item{
    flex-direction: column; 
    align-self: flex-start; 
  }
  .team-item{
    flex-direction: column;  
  }
  .primary-item{
    flex-direction: column;  
  }
  .time-line-item{
    flex-direction: column;  
  
  }

  .goal-text{
    align-self: flex-start;
  }
  .scope .content{
    flex-direction: column;
    width: 100% !important;
  }
  .team-text{
    align-self: flex-start;
    padding-left: 20px;
  }
  .primary-text{
    align-self: flex-start;
    padding-left: 20px;
  }
  .time-line-text{
    align-self: flex-start;
    padding-left: 20px;
  }
  .time-line .content{
    margin-bottom: 20px;
  }
}